.button {
  width: 8rem;
  height: 3.6rem;
  text-transform: uppercase;
  font-family: "Oswald Regular";
  font-size: 1.8rem;

  @include mQ(1550px) {
    font-size: 1.6rem;
  }
  @include mQ($sm) {
    font-size: 1.4rem;
  }
  @include mQ(600px) {
    font-size: 1.2rem;
  }
  @include mQ(520px) {
    font-size: 1.1rem;
  }
  @include mQ(450px) {
    font-size: 1rem;
  }
  @include mQ(415px) {
    font-size: 0.8rem;
  }
  @include mQ(390px) {
    font-size: 0.6rem;
  }

  &--dark {
    color: $white;
    background-color: $accent;
    padding: 7px 24px;
  }

  &--light {
    color: $accent;
    background-color: $white;
    padding: 7px 16px;
  }

  &--tickets {
    padding: 5px 15px;

    @include mQ(700px) {
      font-size: 1.1rem;
    }

    @include mQ(490px) {
      font-size: 1rem;
    }

    @include mQ(390px) {
      padding: 4px 11px;
    }
  }
}
