.footer {
  background-image: url(../../img/contact.jpg);
  background-color: lighten($accent, 5%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: 965px;

  h2 {
    &:first-of-type {
      margin-top: 15.5rem;
    }
    &:nth-of-type(2) {
      margin-top: -9rem;
    }
  }

  &__dots--mini {
    span {
      background-color: $white;
      display: inline-block;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      margin-right: 17px;
      margin-top: -4.9rem;
      margin-bottom: 4rem;

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        @include mQ(410px) {
          display: none;
        }
      }

      @include mQ($md) {
        margin-right: 12px;
      }

      @include mQ(967px) {
        margin-right: 10px;
      }

      @include mQ(775px) {
        margin-right: 8px;
      }

      @include mQ(675px) {
        margin-right: 6px;
      }
      @include mQ(560px) {
        margin-right: 5px;
      }

      @include mQ(510px) {
        width: 1px;
        height: 1px;
        margin-right: 4px;
      }

      @include mQ(410px) {
        margin-right: 3px;
      }
    }
  }

  &__contact-wrapper {
    @include mQ($sm) {
      flex-direction: column;
      //margin-bottom: 20px;
    }
  }

  &__input-wrapper {
    padding: 1.1rem 3.4rem;
  }

  &__copyright {
    margin-top: 35rem;
    @include mQ($md) {
      flex-direction: column;
    }
  }

  &__copy {
    @include mQ($md) {
      margin-bottom: 2rem;
    }
  }

  label {
    margin-right: 1.5rem;
  }

  input {
    background-color: transparent;
    border: 5px solid $black;
    width: 29.3rem;

    @include mQ($lg) {
      width: 22rem;
    }
    @include mQ($md) {
      width: 20rem;
    }
    @include mQ($sm) {
      width: 14rem;
    }
    @include mQ($xs) {
      width: 15rem;
    }
  }

  i {
    font-size: 6rem;
    padding-right: 3rem;
    padding-left: 6.3rem;

    @include mQ($sm) {
      margin-top: 5rem;
      font-size: 4rem;
    }
    @include mQ($xs) {
      font-size: 3rem;
    }

    &:nth-of-type(2) {
      padding-left: 4px;
    }
  }
}
